<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lee.projectrun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password_acitivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerificationPageActivity"
            android:label="@string/title_activity_verification_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileViewerActivity"
            android:label="@string/title_activity_profile_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditUserProfileActivity"
            android:label="@string/title_activity_edit_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GpsMapFragment"
            android:label="GpsMapFragment" />
        <activity
            android:name=".FriendsListActivity"
            android:label="@string/title_activity_friends_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Actions.ListFriend" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category
                    android:name="android.intent.category.NORMAL">
                </category>
            </intent-filter>

        </activity>
        <service android:name="com.example.lee.projectrun.MessageService.MessagingService"></service>
        <activity android:name=".Actions.LoggingIn"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER">
                </category>
            </intent-filter>
        </activity>
        <activity android:name=".Actions.ChatMessage"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category
                    android:name="android.intent.category.NORMAL">
                </category>
            </intent-filter>
        </activity>


        <activity android:name=".Actions.SigningUp" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
            <category android:name="android.intent.category.NORMAL"></category>
        </intent-filter>
        </activity>
        <activity android:name=".Actions.AddFriend" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
            <category android:name="android.intent.category.NORMAL"></category>
        </intent-filter>
        </activity>
        <activity android:name=".Actions.AwaitsAprovalForFriends" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
            <category android:name="android.intent.category.NORMAL"></category>
        </intent-filter>
        </activity>

    </application>

</manifest>
